<!DOCTYPE html>
<html>
<head>
  <title>Node Js Quiz | By Alt Soft</title>
  <link rel="stylesheet" href="/quiz.css">

</head>
<body>
  <div id="quiz">
    <h1>Node js Quiz</h1>
    <div id="question"></div>
    <div id="options"></div>
    <div id="button-container">
      <button id="previous">Previous</button>
      <button id="next">Next</button>
    </div>
    <div id="submit-button">
      <button id="submit">Submit Test</button>
    </div>
  </div>
  <script>
    
    var quizData =   JSON.parse(unescape('<%- JSON.stringify(quizData) %>'));
    // console.log(quizData)
</script>
  <script src="/quiz.js"></script>

  
</body>
</html>
